$font: "Quicksand", sans-serif;

.footer {
  background-image: url(../../../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 1291px;
}

.footer__container {
  display: flex;
  padding: 120px 0 0 195px;
}
.footer__text {
  padding-left: 45px;
}

.footer__title {
  font-family: $font;
  font-size: 41px;
  line-height: 51px;
  color: #000;
  text-shadow: -11px 8px 9px rgba(0, 0, 0, 0.49);
}

.footer__desc {
  font-family: $font;
  font-size: 33px;
  line-height: 41px;
  color: #000;
  padding-top: 30px;
  text-shadow: -11px 8px 9px rgba(0, 0, 0, 0.49);
}
